header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: #82C328;
}

header div.logo {
  font-family: MontserratHairline;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 27px;
  padding: 15px 31px;
  width: 140px;
  display: inline-block;
}

header div.logo span.logo-ramp {
  font-family: Montserrat;
}

header nav {
  display: inline-block;
  float: right;
}

header nav li {
  list-style-type: none;
  display: inline-block;
  padding: 14px 17px 0 0;
  height: 46px;
  width: 34px;
}
