<div class='dashboard-master'>
  <div class='dashboard-sidebar'>
    <ul>
      <% if current_user.student? %>
        <li>
          <%= link_to 'Home', root_url %>
        </li>
      <% end %>
      <% if can? :default_crud, Exam %>
        <li>
          <%= link_to 'Exam Options', exams_path %>
        </li>
      <% end %>
      <% if can? :default_crud, Student %>
        <li>
          <%= link_to 'Students', students_path %>
        </li>
      <% end %>
      <% if can? :default_crud, Student %>
        <li>
          <%= link_to 'View Completed', view_completed_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
