<div>
  <div class='exams'>
    <div class='inner-header'>
      <div class='inner-title'>New Exam</div>
      <div class='inner-button'><%= link_to 'Back <', exams_path %></div>
    </div>
    <div class='inner-content'>
      <%= render 'form' %>
    </div>
  </div>
</div>
