body {
  background-color: #232A30;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a.link {
  color: #75757e;
  text-decoration: none;
}

a.link:hover {
  color: #82C328;
}
