.login-box {
  max-width: 326px;
  flex: 1;
}

.login-form {
  width: 100%;
}

.login-form h1 {
  font-size: 48px;
  font-family: MontserratHairline;
  color: #F5F5F5;
  line-height: 57px;
  font-weight: lighter !important;
  text-align: center;
  margin: 0 0 60px 0;
}

.login-form form div {
  margin: 0 auto 20px;
}

.login-form form div.text {
  width: 326px;
  height: 55px;
  border-radius: 50px;
  background-color: #393F45 !important;
}

.login-form form div.text input {
  margin: 19px 0 19px 60px;
  border: 0;
  background: #393F45;
  color: white;
  width: 240px;
  font-size: 13px;
  line-height: 13px;
  font-family: Montserrat;
  font-weight: normal;
}

.login-form form div.username {
  background: url("/images/login/icons/username.png") no-repeat 20px 15px;
}

.login-form form div.password {
  background: url("/images/login/icons/password.png") no-repeat 20px 15px;
}

.login-form form textarea:focus, .login-form form input:focus{
    outline: 0;
}

.login-form form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #393F45 inset;
  -webkit-text-fill-color: white;
}

.login-form button {
  width: 326px;
  height: 55px;
  border-radius: 50px;
  border: 0;
  background-color: #82C328;
  color: white;
  text-transform: uppercase;
  font-family: MontserratBold;
  font-size: 13px;
  margin-top: 20px;
}

.login-form button:focus {
  outline: 0;
}

.login-form .links {
  margin-top: 30px;
}

.login-form .links a {
  font-family: Montserrat;
  font-size: 11px;
  color: #919598;
  line-height: 14px;
  text-decoration: none;
}
.login-form .need-help {
  float: right;
}
