<div>
  <div class='students'>
    <div class='inner-header'>
      <div class='inner-title'>New Student</div>
      <div class='inner-button'><%= link_to 'Back <', students_path %></div>
    </div>
    <div class='inner-content'>
      <%= render 'form' %>
    </div>
  </div>
</div>
